@page "/employees/{EmployeeId}"

@using CalendarPlanning.Shared.Models.DTO;
@using Microsoft.AspNetCore.Components.QuickGrid;
@inject HttpClient Http

<h3>Employee Details for Employee with Id @EmployeeId</h3>

@if (employee is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@employee.FirstName @employee.LastName @employee.StoreName @employee.StoreAddress</p>
}

@code {
    private EmployeeDto? employee;

    [Parameter]
    public string EmployeeId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        employee = await Http.GetFromJsonAsync<EmployeeDto>($"api/Employees/{EmployeeId}");
    }
}
