@using CalendarPlanning.Shared.Enums;
@using CalendarPlanning.Shared.Models.Requests.IncentiveRequests;
@using System.Security.Claims;
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Create Incentive</h3>

<EditForm Model="@createIncentiveRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div>
        <label for="clientFirstName">Client First Name:</label>
        <InputText id="clientFirstName" @bind-Value="createIncentiveRequest.ClientFirstName" />
        <ValidationMessage For="@(() => createIncentiveRequest.ClientFirstName)" />
    </div>
    <div>
        <label for="clientLastName">Client Last Name:</label>
        <InputText id="clientLastName" @bind-Value="createIncentiveRequest.ClientLastName" />
        <ValidationMessage For="@(() => createIncentiveRequest.ClientLastName)" />
    </div>

    <!-- Note that Blazor doesn't have built-in input components for enums.
         You might want to create your own custom component or use select input like this: -->
    <div>
        <label for="incentiveUnifocal">Incentive Unifocal:</label>
        <EnumInput id="incentiveUnifocal" class="form-select" @bind-Value="@createIncentiveRequest.IncentiveUnifocal" />
    </div>
    <div>
        <label for="incentiveProgressive">Incentive Progressive:</label>
        <EnumInput id="incentiveProgressive" class="form-select" @bind-Value="@createIncentiveRequest.IncentiveProgressive" />
    </div>

    <button type="submit">Create Incentive</button>
</EditForm>

@code {
    [Parameter]
    public EventCallback OnIncentiveCreated { get; set; }

    private CreateIncentiveRequest createIncentiveRequest = new();

    private async Task HandleValidSubmit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            createIncentiveRequest.EmployeeId = user.FindFirst(ClaimTypes.NameIdentifier)!.Value;
        }

        var response = await Http.PostAsJsonAsync("/api/Incentives", createIncentiveRequest);

        if (response.IsSuccessStatusCode)
        {
            await OnIncentiveCreated.InvokeAsync();
        }
        else
        {
            // Handle error
        }
    }
}
